<template>
  <div class="cs-table-container">
    <div class="cs-table-menu">
      <input type="checkbox"
        v-model="selectAllCheckbox"
        v-indeterminate="indeterminateCheckbox"
        class="select-all-checkbox"
      >
      <div class="cs-table-nav-container">
        <ul class="cs-table-nav">
          <li v-if="this.selectedItems.length"> {{selectedItems.length}} Selected </li>
          <li v-else>None Selected</li>
          <li>
          <a @click="download()" > 
            <svg  focusable="false" viewBox="0 0 512 512" class="download-svg">
              <path></path>
            </svg>
           Download {{downloadableItems.length}} Selected</a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <table class="cs-table">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Device</th>
        <th>Path</th>
        <th>Status</th>
      </tr>
      <tr v-for="(item, index) in data" :key="index" @click="select(item, index)" :class="{ 'table-selected': isSelected(item)}"> 
        <td>
          <input type="checkbox" :checked="isSelected(item)">
        </td>
        <td>{{item.name}}</td>
        <td>{{item.device}}</td>
        <td>
          {{item.path}}
          <div v-if="isAvailable(item.status)" class="available pull-right">
            <svg viewBox="0 0 100 100">
              <circle cx="50" cy="50" r="50"/>
            </svg>
          </div>
        </td>
        <td class="capitalize">{{item.status}}</td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: 'cs-table',
  components: {},
  props: {
    data:Array
  },
  data () {
    return {
      selectedItems: []
    }
  },

  methods: {
    isAvailable(status) {
      return status === 'available'
    },
    isSelected(item) {
      return this.selectedItems.indexOf(item) !== -1
    },
    select(item) {
      let index = this.selectedItems.indexOf(item) 
      if( index !== -1) {
        this.selectedItems.splice(index, 1)
      } else {
        this.selectedItems.push(item)
      }
    },
    download () {
      let message = 'Items to Download:\n\n'
      this.downloadableItems.forEach(item => {
        message += `Device: ${item.device}\n Path: ${item.path}\n`
      });
      alert(message)
    }
  },

  computed: {
    indeterminateCheckbox () {
      return this.selectedItems.length !== 0 && !this.selectAllCheckbox
    },
    downloadableItems () {
      return this.selectedItems.filter(x => this.isAvailable(x.status))
    },
    selectAllCheckbox: {
      set(checked) {
        if(checked) {
          this.selectedItems = [...this.data]
        } else {
          this.selectedItems = []
        }
      },
      get () {
        return this.selectedItems.length === this.data.length
      }
    }
  },

  directives: {
    indeterminate(el, binding)  {
      el.indeterminate = Boolean(binding.value)
    }
  }
}
</script>

<style scoped lang="scss">

a {
  cursor: pointer;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-weight: 100;
  border-bottom:1px #dddddd solid
}

td, th {
  // border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
td {
  cursor: pointer;
}

tr:hover {background-color: #F5F5F5;}

.cs-table-container {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.cs-table {
  border-collapse: collapse;
  width: 100%;
}
.cs-table-menu {
  width: 100%;
  text-align: left;
  float: left;
}
.cs-table-nav-container {
  float:left;
}
.cs-table-nav {
  list-style-type: none;
  margin:0px;
}
.cs-table-nav li {
  float:left;
  display: block;
  padding: 10px;
}
.select-all-checkbox {
  margin:15px 10px 10px 10px;
  text-align:left;
  float:left;
}

.download-svg {
  height:15px;
  width:15px;
}
.download-svg path {
  d: path("M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49c20.1 20.1 52.5 20.1 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z")
}

.available {
  height:10px;
  width:10px;
  fill: #81D134;
}

.table-selected {
  background-color: #EEEEEE;
}

.capitalize {
  text-transform: capitalize;
}
.pull-right {
  float:right;
}

</style>
